<div class='card'>
    <div class='card-header'>
      <h2>{{pageTitle}}</h2>
    </div>
    <div class='card-body'>
      <div class='row'>
        <div class='col-md-2'>Filter by:</div>
        <!-- <div class='col-md-4'>
          <input type='text'
                [(ngModel)]="listFilter" />
        </div> -->
      </div>
      <div class='row'>
           <!-- *ngIf='listFilter'> -->
        <!-- <div class='col-md-6'>
          <h4>Filtered by: {{listFilter}}</h4>
          <p>FILTERED BY :  <span [innerText]="listFilter | lowercase"></span></p>
        </div> -->
      </div>
      <div class='table-responsive'>
        <!-- <table class='table' *ngIf='newsList.length'> -->
        <table class='table'>
          <thead>
            <tr>
              <!-- <th>
                <button class='btn btn-primary'
                        (click)='toggleImage()'>
                  {{showImage ? 'Hide' : 'Show'}} Image
                </button>
              </th> -->
              <th>NewsId</th>
              <th>Subject</th>
              <th>Body</th>
              <th>Tag</th>
              <th>Type</th>
              <th>Status</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor='let news of newsList'>
                <td>
                    <a [routerLink]="['/newsdetail', news.NewsId]">{{ news.NewsId }}</a>
                <td>
                    <a [routerLink]="['/newsdetail', news.NewsId]">
                        {{ news.Subject }}
                    </a>
                </td>
                <td> {{ news.Body }} </td>
                <td> {{ news.Tag }} </td>
                <td> {{ news.TypeId }} </td>
                <td> {{ news.StatusId }} </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <!-- <div *ngIf='errorMessage'
       class='alert alert-danger'>
    Error: {{ errorMessage }}
  </div> -->
